@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* emble carousel */
    .embla__button {
        @apply active:scale-75 duration-200  bg-transparent touch-manipulation inline-flex no-underline cursor-pointer p-0 m-0 shadow border border-gray-300 w-12 h-12 z-10 rounded-full items-center justify-center;
    }

    .embla__button__svg {
        @apply w-[35%] h-[35%] text-gray-800;
    }

    .embla__slide__img {
        border-radius: 1.8rem;
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .embla__parallax {
        border-radius: 1.8rem;
        height: 100%;
        overflow: hidden;
    }
    .embla__parallax__layer {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .embla__parallax__img {
        max-width: none;
        flex: 0 0 calc(115% + (1rem * 2));
        object-fit: cover;
    }
}
